<h1 align="center">Listed all articles</h1>
  
<% @articles.reverse.each do |article| %>
<div class="row">
  <div class="col col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=link_to article.title, article_path(article) %></h3>
        <%=link_to 'Edit', edit_article_path(article), class: "label label-warning" %>
        <%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-lg label-danger"%>
        
      </div>
      <div class="panel-body">
      <%=article.description %>
      </div>
    </div>
      
    
  </div>
</div>


<% end %>