<h1 class="well well-sm">Showing selected article</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @article.title %></h3>
  </div>
  <div class="panel-body">
    <%= @article.description %>
  </div>
</div>
<div class="well well-sm">
<%=link_to 'Edit this article', edit_article_path(@article) %>
<%=link_to 'Back to article listing', articles_path %>
</div>