<div class="container">
<div class="header">
  <center>
 <table>
   <td>
     <%=image_tag 'rails.png' %>
     <td>
       <p class="title" style="font-size: 74px; margin-left: 65px;">
         Ruby on Rails<br>
         projects
       </p>
     </td>
   </td>
 </table>
 </center>
 
<div class="content">
  <hr>
  <div class="menu">
  <%=link_to 'Home', root_path %>
  <%=link_to 'About', about_path %>
  </div>
  <hr>
  <p>Donec eget neque eu nisi placerat facilisis ut sed odio. Vestibulum sed quam sit amet purus hendrerit gravida. Vestibulum hendrerit purus vitae urna lacinia dignissim.</p>
</div>
</div>
</div>

