<div class="container">
<div class="header">
  <center>
 <table>
   <td>
     <%=image_tag 'rails.png' %>
     <td>
       <p class="title" style="font-size: 74px; margin-left: 65px;">
         Ruby on Rails<br>
         projects
       </p>
     </td>
   </td>
 </table>
 </center>
 
<div class="content">
  <hr>
  <div class="menu">
    <%=link_to 'Home', root_path %>
    <%=link_to 'About', about_path %>
  </div>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et varius massa,
  nec facilisis dui. Aliquam mauris mauris, pulvinar at mi ut, commodo efficitur tellus.</p>
</div>
</div>
</div>


