body {
  margin: 0px 0px 0px 0px;
  background-color: #1a1a1a;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.container {
  width: 1000px;
  margin: auto;
}
.menu{
  margin-left: 15px;
}
.content{
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
  padding-right: 15px;
}
a:link, a:visited, a:active {
  color: white;
  font-size: 35px;
}
a:hover{
  color: #ed4545;
}