body {
  margin: 0px 0px 0px 0px;
  background-color: #1a1a1a;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.container {
  width: 1000px;
  margin: auto;
}
.menu{

}
.content{
  padding-left: 20px;
  padding-right: 20px;
}
.menu a {
  text-decoration: none;
  padding-right: 15px;
}
.menu a:link, a:visited, a:active {
  color: white;
  font-size: 35px;
}
.menu a:hover{
  color: #ed4545;
}

.articles {
  width: 100%;
  border: 1px solid white;
  
}
.crud {
  float: right;
}