<div class="container">
  <footer class="footer">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>
          Copyright &copy; <a href="https://ruby-on-rails-course-mroczu.c9users.io/">Blog app by GRX</a>
        </h4>
        
        <nav>
          <ul>
            <li><%=link_to "About", about_path %></li>
          </ul>
        </nav>
      </div>
    </div>

  </footer>
</div>